@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 34, 197, 94; /* Green */
  --secondary-rgb: 220, 38, 38; /* Red */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-primary {
    color: rgb(var(--background-rgb));
  }

  .text-secondary {
    color: rgb(var(--secondary-rgb));
  }

  .bg-primary {
    background-color: rgb(var(--background-rgb));
  }

  .bg-secondary {
    background-color: rgb(var(--secondary-rgb));
  }

  .hover\:bg-primary:hover {
    background-color: rgb(var(--background-rgb));
  }

  .hover\:bg-secondary:hover {
    background-color: rgb(var(--secondary-rgb));
  }

  .hover\:text-primary:hover {
    color: rgb(var(--background-rgb));
  }

  .hover\:text-secondary:hover {
    color: rgb(var(--secondary-rgb));
  }
}
